---
import '../styles/normalize.css'
import '../styles/base.css'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Lino est un projet visant à bonifier l'initiative d'échange des boîtes à livres et encadrer les activités littéraires de la communauté étudiante." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/x-icon" href="favicon.ico" />
		<meta property="og:title" content={title}>
		<meta property="og:description" content="Lino est un projet visant à bonifier l'initiative d'échange des boîtes à livres et encadrer les activités littéraires de la communauté étudiante.">
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://ceduni.github.io/lino/">
		<meta property="og:site_name" content="Lino">
		<meta property="og:image" content="https://ceduni.github.io/lino/logo.png">
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>